<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      Made with 🧐 by
      <a
        class="footer-link"
        href="https://sira4110.github.io/Site_Test_V11_31_01/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Mr. Error
      </a>
    </p>
    <p class="footer-desc">
      Follow the 
      <a
        class="footer-link"
        href="https://sira4110.github.io/Site_Test_V11_31_01/"
        target="_blank"
        rel="noopener noreferrer"
      >
      link
      </a>
      and encrypt the information
    </p>
  </div>
</footer>
