<section class="vite-promo">
  <div class="container">
    <div class="vite-promo-thumb">
      <a
        class="vite-promo-link"
        href="https://i.pinimg.com/736x/e3/69/1d/e3691d1aa2faaa1acd8c72169d2c4ed1.jpg"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to Vite official website"
        title="Vite.js  build tool"
      >
        <!-- Path to images as from index.html file -->
        <img
          class="pic"
          src="img/amon's_family.jpg"
          alt="Amon's family"
          width="640"
          height="640"
        />
      </a>
    </div>
    <h1 class="main-title">
      <span class="main-title-gradient">Amon's family</span>
      The strength of encryption on the
      <a
        class="main-title-link"
        href="https://sira4110.github.io/Site_Test_V11_31_01/"
        target="_blank"
        rel="noopener noreferrer"
      >
      site
      </a>
      (in the process of development)
    </h1>
  </div>
</section>
